# ML Production

#### 1 - Load Trained Model
#### 2 - Load dataser to be analysed.
#### 3 - Start the inferences
#### 4 - Results

In [7]:
# Loading Model

import pickle
model = pickle.load(open('model.sav', 'rb'))

In [8]:
# Load dataser to be analysed

import pandas as pd
new_data = pd.read_csv('Dataset_heat_unknown.csv')
new_data.head()

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0,67,1,0,160,286,0,0,108,1,1.5,1,3,2
1,1,56,1,0,132,184,0,0,105,1,2.1,1,1,1
2,2,59,1,2,126,218,1,1,134,0,2.2,1,1,1
3,3,55,1,0,160,289,0,0,145,1,0.8,1,1,3
4,4,44,1,1,120,263,0,1,173,0,0.0,2,0,3

In [9]:
# Observing the total number of columns

for i in new_data:
    print(i)

Unnamed: 0
age
sex
cp
trestbps
chol
fbs
restecg
thalach
exang
oldpeak
slope
ca
thal

In [10]:
# Erasing unnecessary columns inside the dataset.

dados = new_data.drop(columns={'Unnamed: 0'})
dados.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,67,1,0,160,286,0,0,108,1,1.5,1,3,2
1,56,1,0,132,184,0,0,105,1,2.1,1,1,1

In [15]:
# Vizualizing the amount of lines and columns on the dataset.

dados.shape

(50, 13)

In [12]:
# Using the model trainned to evaluate the Inference based on the new dataset disposal.

inferences = model.predict(dados)
print(inferences)

[0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 0 0 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 0 1 0 1 0
 0 1 1 1 0 0 0 0 0 0 0 1 0]

In [16]:
# Code used to organize the result of the inference and demonstrate the predictive analysis result.

R = inferences


df = pd.DataFrame(R)

df_n = df.rename(columns={0:'Result'})
df_n.head()

   Result
0       0
1       0
2       0
3       0
4       1

In [17]:
# DataFrame demonstrating the result of the new healthy and sick patient status. 

df_R = pd.DataFrame(df_n.Result.value_counts())
df_R

Result = ['Sick', 'Healthy']

df_R.insert(loc=1,column='Inference_Result', value=Result)
df_R.head()

   Result Inference_Result
0      27             Sick
1      23          Healthy